.video-boxs {
    -webkit-filter: blur(5px);
    filter: blur(5px);
}

.add-location-map {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.6);
  z-index: 1;
  .map-wrapper {
    background: #fff;
    height: 60px;
    padding: 15px;
    .map-search-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .close-map-icon {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        background-position: -261px -378px;
        cursor: pointer;
      }
      input {
        width: 100%;
        background: #eaebed;
        border: none;
        outline: none;
        margin-right: 10px;
        padding: 3px 10px 1px 10px;
        &::-webkit-input-placeholder {
          color: rgba(0,0,0,0.32);
        }
        &:-moz-placeholder {
          color: rgba(0,0,0,0.32);
        }
        &::-moz-placeholder {
          color: rgba(0,0,0,0.32);
        }
        &:-ms-input-placeholder {
          color: rgba(0,0,0,0.32);
        }
      }
      .location-icon {
        width: 23px;
        height: 23px;
        background-position: -217px -252px;
        background-size: 250px 333px;
        cursor: pointer;
      }
    }
  }
  agm-map {
    width: 100%;
    height: 100vh;
  }
}

/* .form  */
.form {
    .inputs {
        padding: 0 60px;
        position: relative;
        .icons {
            position: absolute;
            top: 8px;
            left: 10px;
            width: 36px;
            height: 36px;
        }
        .icons.icon-user {
            width: 19px;
            height: 20px;
            background-position: -111px -135px;
            left: 20px;
            top: 14px;
            display: inline-block;
        }
        .icons.icon-email {
            width: 21px;
            height: 16px;
            background-position: -14px -137px;
            left: 16px;
            top: 17px;
            display: inline-block;
        }
        .black.arrow {
            border-color: rgba(51,51,51,1);
            right: 21px;
            top: 50%;
            position: absolute;
            opacity: 0.41;
            margin-top: -3px;
            border-top: 0.5em solid;
            border-right: 0.5em solid transparent;
            border-left: 0.5em solid transparent;
            left: auto;
        }
        .icon-business-card {
            background-position: -108px 0;
        }
        .icon-address {
            background-position: -144px 0;
        }
        .icon-city {
            background-position: -180px 0;
        }
        .icon-code {
            background-position: 0 -36px;
        }
        .icon-phone {
            background-position: -36px -36px;
        }
        .icon-office-website {
            background-position: -72px -36px;
        }
        .icon-email-address {
            background-position: -72px -36px;
        }
        .auto-tips {
            position: absolute;
            top: 100%;
            left: 0;
            background-color: #fff;
            width: 100%;
            max-height: 200px;
            overflow: auto;
            z-index: 1000;
            border-radius: 5px;
            ul {
                li {
                    .items {
                        display: block;
                        padding: 10px 20px 10px 60px;
                        font-size: 18px;
                        color: #282828;
                        min-height: 30px;
                        line-height: 22px;
                        &:hover {
                            background-color: #f5f5f5;
                        }
                    }
                }
            }
        }
    }
    &.normal-form {
        .inputs {
            padding: 0 15px;
        }
    }
}
.row-line {
    margin-bottom: 20px;
}
/* .dropdown */
.change-contents {
    .btn-outline-primary:not([disabled]):not(.disabled):active,
    .btn-outline-primary:not([disabled]):not(.disabled).active,
    .show > .btn-outline-primary.dropdown-toggle {
        background-color: transparent;
        border: 0;
        box-shadow: none;
    }
    .dropdown {
        height: 53px;
        color: #fff;
        width: 100%;
        border: 2px solid rgba(204,204,204,0.6);
        border-radius: 5px;
        position: relative;
        .dropdown-toggle {
            line-height: 53px;
            padding: 0 10px;
            width: 100%;
            text-align: left;
            &::after {
                position: absolute;
                right: 21px;
                top: 50%;
                margin-top: -4px;
                border-top: 0.5em solid;
                border-right: 0.5em solid transparent;
                border-left: 0.5em solid transparent;
            }
            &.btn-outline-primary {
                color: #fff;
            }
            &:hover,
            &:focus {
                background-color: transparent;
                border-color: transparent;
                outline: none;
                box-shadow: none;
            }
            .num {
                padding-right: 20px;
                font-weight: bold;
                font-size: 18px;
            }
        }
        .dropdown-menu {
            width: 100%;
            max-height: 300px;
            overflow-y: auto;
            min-width: auto;
        }
        .dropdown-item {
            padding: 0.25rem 15px;
            &.selected {
              background-color: #bbb;
            }
        }
        .icon-phone {
            width: 36px;
            height: 36px;
            vertical-align: middle;
            margin-left: 4px;
            margin-right: 7px;
            background-position: -36px -36px;
        }
        &.little {
            height: 43px;
            border: 2px solid #8f9499;
            width: 95px;
            display: inline-block;
            margin-left: 10px;
            .dropdown-toggle {
                line-height: 43px;
                padding: 0 15px;
                &::after {
                    right: 10px;
                    top: 50%;
                    margin-top: -4px;
                    border-top: 0.4em solid #fff;
                    border-right: 0.4em solid transparent;
                    border-left: 0.4em solid transparent;
                }
            }
        }
    }
}
/* .drop-down */
.drop-down {
    height: 53px;
    line-height: 53px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    position: relative;
    .drop-txt {
        color: #fff;
        line-height: 53px;
        display: block;
        padding: 0 30px;
        font-weight: 300;
    }
    .arrow {
        background-position: -144px -36px;
        position: absolute;
        right: 10px;
        top: 50%;
        margin-top: -18px;
        width: 36px;
        height: 36px;
        &.black {
            background-position: -108px -36px;
        }
    }
}
/* .checkbox-wrap */
.checkbox-wrap {
    display: inline-block;
    input[type="checkbox"] {
        display: none;
    }
    input[type="checkbox"]+label {
        display: inline-block;
        padding-left: 32px;
        text-align: left;
        position: relative;
        line-height: 26px;
        color: #fff;
        font-size: 18px;
    }
    label::before {
        content: "";
        display: inline-block;
        width: 21px;
        height: 21px;
        vertical-align: middle;
        margin-right: 5px;
        border: 1px solid #fff;
        border-radius: 100%;
        position: absolute;
        left: 0;
        top: 6px;
        cursor: pointer;
    }
    input[type="checkbox"]:checked+label::before {
        background: url("../../../assets/i/icon-sprites.png") -7px -9px no-repeat;
        background-size: 288px auto;
        width: 21px;
        height: 22px;
        border: 0;
        border-radius: 100%;
    }
    &.gray-checkbox {
        width: 100%;
        input[type="checkbox"]+label {
            color: #fff;
            padding-left: 0;
            padding-right: 50px;
            line-height: 40px;
            display: block;
            font-size: 18px;
            font-weight: 300;
        }
        label::before {
            content: "";
            display: inline-block;
            width: 29px;
            height: 29px;
            vertical-align: middle;
            background: url("../../../assets/i/icon-sprites.png") -251px -227px no-repeat;
            border: 0;
            background-size: 288px auto;
            margin-right: 5px;
            border-radius: 100%;
            position: absolute;
            right: 0;
            top: 6px;
            left: auto;
        }
        input[type="checkbox"]:checked+label::before {
            background: url("../../../assets/i/icon-sprites.png") -210px -475px no-repeat;
            background-size: 288px auto;
            width: 29px;
            height: 29px;
            border: 0;
            border-radius: 100%;
        }
    }
    &.squre-checkbox {
        margin-bottom: 20px;
        input[type="checkbox"]+label {
            line-height: 33px;
            padding-left: 46px;
        }
        label::before {
            content: "";
            display: inline-block;
            width: 29px;
            height: 29px;
            vertical-align: middle;
            background: url("../../../assets/i/icon-sprites.png") -258px -370px no-repeat;
            border: 0;
            background-size: 288px auto;
            margin-right: 19px;
            border-radius: 0;
            position: absolute;
            top: 3px;
        }
        input[type="checkbox"]:checked+label::before {
            background: url("../../../assets/i/icon-sprites.png") -258px -323px no-repeat;
            background-size: 288px auto;
            width: 29px;
            height: 29px;
            border: 0;
            border-radius: 0;
        }
    }
}
/* .create-item */
.create-wrapper {
    width: auto;
}
/* .create-modules */
.create-modules {
    width: 525px;
    margin: 0 auto 26px auto;
    .icons-complete {
        display: none;
    }
    .main-show {
        display: none;
    }
    &.build-organization {
        width: auto;
        .titles {
            width: 525px;
            margin: 0 auto 0 auto;
        }
        .hv-container {
            padding: 0 216px;
            .hv-wrapper {
                margin: 0 216px;
            }
            .hv-item {
                padding: 0 216px;
            }
        }
    }
    &.complete {
        .icons-complete {
            width: 36px;
            height: 36px;
            margin: 8px auto;
            background-position: -180px -36px;
            display: block;
        }
        .item {
            .block {
                background-color: #456db3;
                pointer-events: auto;
            }
        }
        .num {
            display: none;
        }
        .main-show {
            display: none;
        }
    }
    &.current {
        .item {
            .block {
                background-color: #456db3;
                pointer-events: auto;
            }
            .titles {
                padding-right: 107px;
            }
        }
        .main-show {
            display: block;
        }
    }
    .item {
        position: relative;
        .pl78 {
            padding-left: 78px;
        }
        .block {
            width: 53px;
            height: 53px;
            border-radius: 8px;
            background-color: #7a838a;
            text-align: center;
            line-height: 53px;
            display: inline-block;
            margin-right: 23px;
            font-size: 26px;
            color: #fff;
        }
        .textareas {
            margin-right: 102px;
        }
    }
    .right-top {
        position: absolute;
        top: 14px;
        right: -30px;
        width: 120px;
        text-align: center;
        .white-tips {
            margin-bottom: 10px;
        }
        &.row-align {
            width: auto;
        }
        &.ten-right-top {
            top: 11px;
        }
    }
    .titles {
        margin: 0;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        display: flex;
        display: -ms-flexbox;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        .txt {
            font-size: 22px;
            color: #fff;
            line-height: 27px;
            font-weight: 300;
            flex: 1;
            text-align: left;

        }
        &.mb0 {
            margin-bottom: 0;
        }
    }
    .check-list {
        .row-line {
            margin-bottom: 4px;
        }
    }
    input:focus::-webkit-input-placeholder { color:transparent; }
    input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
    input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
    input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

    input:read-only {
      cursor: default;
    }
}
.date-input {
  input:focus::-webkit-input-placeholder { color: #fff; }
  input:focus:-moz-placeholder { color: #fff; } /* FF 4-18 */
  input:focus::-moz-placeholder { color: #fff; } /* FF 19+ */
  input:focus:-ms-input-placeholder { color: #fff; } /* IE 10+ */
}

/* .photo-profile */
.photo-profile {
    max-width: 311px;
    img {
        border: 2px solid rgba(204,204,204,0.6);
        border-radius: 8px;
    }
    .row-line {
        margin-bottom: 0;
    }
    .border-boxs {
        border: 2px solid rgba(204,204,204,0.6);
        border-radius: 8px;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        &.hide {
            display: none;
        }
        &:hover {
            opacity: 0.75;
        }
        input[type='file'] {
            width: 100%;
            height: 100%;
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            opacity: 0;
        }
        .icon-user {
            background-position: -192px -265px;
            width: 64px;
            height: 64px;
            margin: 37px auto 0;
        }
        .txt {
            font-size: 22px;
            color: #fff;
            font-weight: 300;
        }
    }
    .biger-phtoto {
        display: inline-block;
        .border-boxs {
            width: 190px;
            height: 190px;
            vertical-align: middle;
            cursor: pointer;
            &:hover {
                opacity: 0.75;
            }
        }
        img {
            width: 190px;
            height: 190px;
        }
    }
    .little-boxs {
        display: inline-block;
        width: 101px;
        vertical-align: middle;
        .border-boxs {
            width: 90px;
            margin: 5px 0 5px 26px;
            height: 90px;
            border-radius: 5px;
            position: relative;
            cursor: pointer;
            &.hasPic {
                cursor: default;
                &:hover {
                    opacity: 1;
                }
            }
            .icon-plus {
                background-position: -260px -277px;
                width: 25px;
                height: 25px;
                margin-top: 33px;
            }
        }
        img {
            width: 86px;
            height: 86px;
            border: none;
        }
        &.under {
            width: auto;
            margin-right: -20px;
            .border-boxs {
                margin: 10px 20px 0 0;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}
/* add-photos */
.add-photos {
    .sub-txt {
        font-size: 14px;
        color: #fff;
        margin-top: -20px;
        font-weight: 300;
        padding: 10px 161px 10px 0;
    }
}

/* .bottom-wrap */
.bottom-wrap {
    padding-left: 216px;
    height: 13px;
    position: fixed;
    bottom: 0;
    z-index: 200;
    width: calc(100% - 655px);
    .bottom-bar {
        position: absolute;
        bottom: 0;
        left: auto;
        background-color: #7a828a;
        height: 13px;
        width: 100%;
        .blue-bar {
            position: absolute;
            left: 0;
            top: 0;
            background-color: #456db3;
            height: 13px;
            &.w30 {
                width: 30%;
            }
        }
    }
}

/* .modal-boxs */
.modal-boxs {
    .modal-inner {
        width: 353px;
        height: auto;
        z-index: 9999;
        position: relative;
        border-radius: 10px;
        overflow: hidden;
    }
    .modal-title {
        width: 100%;
        padding: 24px 0;
        text-align: center;
        background-color: #456db3;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        .circle {
            display: block;
            width: 91px;
            height: 91px;
            border: 4px solid #fff;
            border-radius: 100%;
            text-align: center;
            background-color: #fff;
            margin: 0 auto;
            background-color: transparent;
            line-height: 83px;
        }
        .icon-i {
            background-position: -91px -403px;
            width: 11px;
            height: 45px;
            vertical-align: middle;
        }
        .icon-user {
            background-position: -203px -273px;
            width: 39px;
            height: 48px;
            vertical-align: middle;
        }
    }
    .modal-info {
        background-color: #fff;
        padding: 20px 0;
        p {
            padding: 30px 0;
            font-size: 22px;
            font-weight: 300;
            line-height: 22px;
            color: #4d4d4d;
            padding: 0 53px;
            text-align: center;
        }
        .titles {
            text-align: center;
            font-weight: 600;
            font-size: 20px;
            color: #4d4d4d;
            margin-bottom: 20px;
        }
        .icon-bar {
            display: block;
            padding-bottom: 20px;
            min-height: 45px;
            padding-left: 20px;
            &:last-child {
                padding-bottom: 0;
            }
            .icons {
                margin-right: 15px;
                width: 41px;
                height: 41px;
                vertical-align: middle;
            }
            .txt {
                display: inline-block;
                vertical-align: middle;
                font-size: 20px;
                color: #4d4d4d;
            }
            .icon-facebook {
                background-position: -202px -405px;
            }
            .icon-google-plus {
                background-position: -204px -340px;
            }
            .icon-in {
                background-position: -11px -472px;
            }
            .icon-in {
                background-position: -11px -472px;
            }
            .icon-insta {
                width: 44px;
                height: 44px;
                background-position: -74px -594px;
            }
            .icon-photos {
                background-position: -11px -661px;
            }
        }
    }
    .footer-btn {
        text-align: center;
        background-color: #fff;
        border-top: 0;
        padding: 5px 10px 27px;
        margin-top: -2px;
        .btn-green {
          font-size: 22px;
        }
    }
}
/* .create-office-modal */
.create-office-modal {
    .modal-inner {
        padding-bottom: 60px;
        width: 290px;
    }
    .modal-info {
        padding: 25px 25px 10px;
        .btn {
            display: block;
            margin-bottom: 18px;
        }
    }
    .footer-btn {
        padding: 0;
        background-color: #fff;
        position: absolute;
        width: 100%;
        .btn {
            width: 100%;
            bottom: 0;
            left: 0;
            color: #fff;
            font-size: 20px;
            height: 60px;
            line-height: 60px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }
}

/* .textareas */
.textareas {
    padding: 20px 15px;
    height: 193px;
    display: block;
    border-radius: 10px;
    border: 2px solid rgba(204,204,204,0.6);
    textarea {
        font-size: 22px;
        color: #fff;
        font-weight: 300;
        line-height: 26px;
        background: none;
        border: none;
        width: 100%;
        height: 100%;
        box-shadow: none;
        resize: none;
        outline: none;
        &::-webkit-input-placeholder {
            color: #fff;
        }
        &:-moz-placeholder {
            color: #fff;
        }
        &::-moz-placeholder {
            color: #fff;
            opacity: 1;
        }
        &:-ms-input-placeholder {
            color: #fff;
        }
    }
}

/* .white-tips */
.white-tips {
    font-size: 14px;
    color: #446db4;
    text-transform: uppercase;
    padding: 0 10px;
    background-color: #fff;
    border-radius: 3px;
    height: 27px;
    line-height: 27px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
    cursor: pointer;
    &:hover {
        opacity: 0.85;
    }
}

.some-personal {
  .dob-field {
    width: 320px;
    .labels {
      display: flex;
      justify-content: space-between;
    }
    .dropdown {
      &.little {
        margin: 0;
        margin-right: 12px;
        width: 92px;
      }
      &.little:nth-child(2) {
        width: 105px;
      }
      &.little:last-child {
        margin-right: 0;
      }
    }
  }
  .loc-field {
    .input-fields {
      display: flex;
    }
    .labels {
      display: flex;
      justify-content: space-between;
    }
    .inputs {
      padding: 0 15px;
      width: 124px;
      margin-right: 12px;
    }
    .auto-tips {
        width: 200px;
        ul {
            li {
                .items {
                    padding: 10px 20px 10px 20px;
                }
            }
        }
    }
  }
  .labels {
    display: flex;
    justify-content: space-between;
    .blur-txt {
      color: rgba(255, 255, 255, 0.6);
    }
  }
  .lang-title, .labels {
    font-size: 18px;
    line-height: 40px;
    color: #fff;
    font-weight: 300;
  }
}
/* Availability */
.availability {
  .label-txt {
    font-size: 18px;
    line-height: 40px;
    color: #fff;
    font-weight: 300;
    display: inline-block;
    min-width: 100px;
  }
}
/* Em History */
.em-history {
  .titles {
    margin-bottom: 18px;
  }
  .two-inputs, .btn-boxs {
    width: 329px;
  }
}
/* Peers */
.peers {
  .titles {
    margin-bottom: 18px;
  }
  .txt {
    font-size: 16px;
    color: #fff;
    font-weight: 300;
    margin-bottom: 20px;
  }
  .two-inputs, .btn-boxs {
    width: 368px;
  }
}

/* Em History */
.edu-hostory {
  .titles {
    margin-bottom: 18px;
  }
  .two-inputs, .btn-boxs {
    width: 329px;
  }
  .gray-border {
    .auto-tips {
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #fff;
        width: 100%;
        max-height: 200px;
        overflow: auto;
        z-index: 1000;
        border-radius: 5px;
        ul {
            li {
                .items {
                    display: block;
                    padding: 10px 20px 10px 15px;
                    font-size: 18px;
                    color: #282828;
                    min-height: 30px;
                    line-height: 22px;
                    &:hover {
                        background-color: #f5f5f5;
                    }
                }
            }
        }
    }
  }
}

.work-location {
  color: #fff;
  .lbl-location {
    font-size: 18px;
    margin-bottom: 14px;
  }
  .border-box {
    position: relative;
    width: 357px;
    min-height: 71px;
    margin-bottom: 20px;
    display: flex;
    padding: 14px 15px 8px;
    border: 2px solid rgba(204, 204, 204, 0.6);
    border-radius: 10px;
    align-items: center;
    .location-icons {
      width: 22px;
      height: 31px;
      background-position: -195px -424px;
      margin-right: 25px;
    }
    .lbl {
      font-size: 22.77px;
      margin-bottom: 4px;
    }
    .place {
      font-size: 16px;
      margin-bottom: 4px;
    }
  }
}

.intro {
  .textareas {
    width: 100%;
    height: 87px;
    padding: 14px 18px;
  }
}

/* IE11 Fixes */
@media all and (-ms-high-contrast:none) {
  .map-search-box {
    input {
      height: 28px; 
      padding: 2px 10px 1px 10px;
    }
  }
}
