/* search-potential-main */
.search-potential-main {
  width: 440px;
  margin: auto;
}

.search-potential-text {
  font-size: 23px;
  color: rgba(255, 255, 255, .56);
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 25px 0;
  .space-select {
    margin-left: 11px;
  }
}

.dropdown-search {
  display: flex;
  background-color: rgba(255, 255, 255, .18);
  font-size: 23px;
  color: #fff;
  padding: 1px 10px 0 10px;
  border-radius: 34px;
  margin: 0 0 7px 0;
  margin-right: 11px;
}


/* search-information-main */
.search-actions-btn {
  width: 390px;
  .filter-blue-box {
    min-height: 68px;
    border-radius: 5px;
    display: flex;
    background-color: rgba(255, 255, 255, .15);
    margin-bottom: 9px;
    align-items: center;
    &:last-child {
      margin-bottom: 0;
    }
    .title-txt {
      font-size: 20px;
      color: #fff;
      font-weight: 600;
      padding: 5px 18px;
    }
    .icon-box {
      width: 68px;
      height: 68px;
      background-color: rgba(255, 255, 255, .27);
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .save-icon {
      width: 25px;
      height: 25px;
      background-position: -334px -42px;
    }
    .general-icon {
      width: 22px;
      height: 28px;
      background-position: -235px -42px;
    }
    .settings-icon {
      width: 31px;
      height: 31px;
      background-position: -263px -42px;
    }
    .doc-icon {
      width: 21px;
      height: 27px;
      background-position: -302px -42px;
    }
  }
}

.save-filter-btn {
  width: 165px;
  line-height: 34px;
  background-color: rgba(255, 255, 255, .15);
  display: block;
  margin: auto;
  text-transform: uppercase;
  text-align: center;
  margin: 20px auto;
  color: #fff;
  border-radius: 3px;
}

.search-btn {
  width: 322px;
  line-height: 51px;
  background-color: rgba(51, 51, 51, .22);
  display: block;
  margin: auto;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto 35px auto;
  font-size: 21px;
  color: #fff;
  border-radius: 5px;
}

.search-select-main {
  .dropdown {
    display: flex;
    background-color: rgba(255, 255, 255, .18);
    font-size: 23px;
    color: #fff;
    padding: 0 10px 0 10px;
    border-radius: 34px;
    margin: 0 0 7px 5px;
    margin-right: 9px;
    .btn.dropdown-toggle, .btn.dropdown-toggle:hover {
      background: none;
      outline: none;
      border: none;
      box-shadow: none;
      font-size: 23px;
      color: #fff;
      padding: 0;
      line-height: 25px;
      margin-top: -2px;
      &:after {
        display: none;
      }
    }
    .dropdown-menu {
      background-color: rgba(0, 0, 0, .5);
      border-radius: 8px;
      min-width: 100%;
      padding: 5px 0;
      left: 0 !important;
      .txt-box {
        width: calc(100% - 20px);
        height: 35px;
        margin: 0 10px 10px;
        padding: 0 5px 0 10px;
        background: none;
        border: none;
        outline: none;
        color: #fff;
        background-color: rgba(255, 255, 255, 0.26);
        border-radius: 6px;
        &::-webkit-input-placeholder {
          color: rgba(255, 255, 255, 0.26);
        }
        &:-moz-placeholder {
          color: rgba(255, 255, 255, 0.26);
        }
        &::-moz-placeholder {
          color: rgba(255, 255, 255, 0.26);
        }
        &:-ms-input-placeholder {
          color: rgba(255, 255, 255, 0.26);
        }
      }
      .dropdown-item {
        font-size: 21px;
        color: #fff;
        outline: none;
        border: none;
        box-shadow: none;
        border-left: 4px solid transparent;
        padding: 0 15px;
        text-transform: capitalize;
        &.selected, &:hover, &:active {
          border-left: 4px solid #fff;
          background-color: rgba(255, 255, 255, .26);
          opacity: 1;
        }
      }
    }
  }
}

/* firefox */
@-moz-document url-prefix() {
  .search-select-main {
    .dropdown {
      .btn.dropdown-toggle, .btn.dropdown-toggle:hover {
        margin-top: -5px !important;
      }
    }
  }
}
