/* bench-edit-content */
.bench-edit-header {
  width: 463px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'HelveticaNeueMedium_1';
  color: #fff;
  font-size: 19px;
  height: 23px;
  .title {
    margin-top: 3px;
  }
  .back-icon {
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 14px solid #fff;
  }
  .edit-icon {
    width: 23px;
    height: 23px;
    background-position: 0 0;
    margin-right: 17px;
  }
}

.bench-edit-main {
  width: 1150px;
  margin: 0 auto 55px auto;
  position: relative;
}

.bench-list-content {
  display: flex;
  flex-wrap: wrap;
  height: 626px;
  padding-top: 47px;
  overflow-y: auto;
}

.users-cards-square {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 30px;
  margin-right: 74px;
  &:first-child:before {
    content: 'MOST IDEAL';
    font-size: 19px;
    color: rgba(255, 255, 255, .82);
    width: 165px;
    position: absolute;
    top: -35px;
    left: 0;
    text-align: center;
  }
  &:last-child:after {
    content: 'LEAST IDEAL';
    font-size: 19px;
    color: rgba(255, 255, 255, .82);
    width: 165px;
    position: absolute;
    bottom: -41px;
    text-align: center;
  }
  &.gu-mirror:first-child:before,
  &.gu-mirror:last-child:after {
    display: none;
  }
  &:nth-last-child(-n+5) {
    margin-bottom: 0;
  }
  &:nth-child(5n) {
    margin-right: 0;
  }
  &.gu-transit {
    opacity: 1;
    .square-box-main {
      opacity: 0;
    }
    .dashed-border {
      display: block;
    }
  }
  &.gu-mirror {
    opacity: 1;
    .square-box-main {
      transform: rotate(10deg);
    }
  }
  .dashed-border {
    z-index: 1;
    min-height: 230px;
    width: 165px;
    border-radius: 15px;
    border: 2px dashed rgba(255,255,255,0.6);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }
  &:last-child {
    margin: 0;
  }
}
.square-box-main {
  display: flex;
  flex-direction: column;
  min-height: 230px;
  width: 165px;
  border-radius: 18px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  img {
    width: 165px;
    height: 170px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .square-cards-info {
    background-color: #fff;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    flex: 1;
    padding: 0 10px 4px 13px;
    .user-role-info {
      display: flex;
      justify-content: space-between;
    }
    .user-exp-year {
      font-size: 9px;
      color: #000;
      i {
        font-size: 14px;
        font-style: normal;
      }
      span {
        font-size: 10px;
        color: rgba(0, 0, 0, .73);
        text-transform: uppercase;
        font-family: 'HelveticaNeueMedium_1';
      }
    }
    .user-role-txt {
      font-size: 14px;
      color: rgba(0, 0, 0, 0.37);
      font-family: 'HelveticaNeueLt';
      display: block;
      text-transform: capitalize;
    }
    .user-info-txt {
      display: flex;
      justify-content: space-between;
      margin: 5px 0 0 0;
      .username-txt {
        font-size: 16px;
        color: rgba(0, 0, 0, 0.80);
        font-family: 'HelveticaNeueLt';
        text-transform: capitalize;
      }
      .badge-icon {
        min-width: 18px;
        height: 18px;
        background-position: -246px -3px;
        margin-top: 5px;
      }
    }
  }
}

.bench-actions-btns {
  display: flex;
  justify-content: center;
  margin: 26px 0 0 0;
  a {
    width: 42px;
    height: 42px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  .datetime-btn {
    background-image: -moz-linear-gradient(top, #ca6462, #ed71a5);
    background-image: -o-linear-gradient(top, #ca6462, #ed71a5);
    background-image: -webkit-linear-gradient(top, #ca6462, #ed71a5);
    background: -ms-linear-gradient(top,#ca6462 0%,#ed71a5 100%);
    margin: 0 12px 0 0;
    span {
      width: 20px;
      height: 20px;
      background-position: -58px 0;
    }
  }
  .msg-btn {
    background-image: -moz-linear-gradient(top, #827bc9, #67baca);
    background-image: -o-linear-gradient(top, #827bc9, #67baca);
    background-image: -webkit-linear-gradient(top, #827bc9, #67baca);
    background: -ms-linear-gradient(top,#827bc9 0%,#67baca 100%);
    span {
      width: 20px;
      height: 18px;
      background-position: -87px 0;
    }
  }
}


/* .Plus, Message modal */
.message-modal, .schedule-modal {
  .modal-inner {
      padding-bottom: 50px;
      width: 280px;
      background-color: transparent;
      display: flex;
      flex-direction: column;
  }
  .modal-info {
      padding: 20px 25px 2px 20px;
      background-color: #fff;
      flex-grow: 1;
      .titles {
          margin-bottom: 12px;
          font-size: 17px;
          color: #606060;
      }
      .txt-box, .message-box, .description {
        font-size: 15px;
        color: #828282;
        border: 1px solid #ccc;
        border-radius: 10px;
        height: 40px;
        margin-bottom: 25px;
        padding: 0 10px;
      }
      .message-box {
        height: 80px;
      }
      .description {
        height: 120px;
      }
      input:read-only {
        cursor: default;
      }
       input, textarea {
         width: 100%;
         height: 100%;
         border: none;
         background: none;
         outline: none;
         resize: none;
         &::-webkit-input-placeholder {
             color: #828282;
         }
         &:-moz-placeholder {
             color: #828282;
         }
         &::-moz-placeholder {
             color: #828282;
         }
         &:-ms-input-placeholder {
             color: #828282;
         }
       }
  }
  .footer-btn {
      padding: 0;
      background-image: -webkit-gradient(linear, 0 0, 960 850.125, from(#196f90), color-stop(0.001, #14648f), color-stop(0.003, #136b8b), color-stop(0.005, #116b8a), color-stop(0.007, #146a8b), color-stop(0.241, #237990), color-stop(0.241, #247b8f), color-stop(0.301, #287d91), color-stop(0.301, #297f90), color-stop(0.691, #489a9a), color-stop(0.694, #479c99), color-stop(0.726, #499e9b), color-stop(0.726, #4b9d9b), color-stop(0.993, #5fb0a1), color-stop(0.993, #5fb2a0), to(#5fb2a0));
      background-image: -webkit-linear-gradient(318.47360487073234deg, #196f90, #14648f 0.1%, #136b8b, #116b8a, #146a8b 0.7%, #237990 24.1%, #247b8f 24.1%, #287d91 30.1%, #297f90 30.1%, #489a9a 69.1%, #479c99 69.4%, #499e9b 72.6%, #4b9d9b 72.6%, #5fb0a1 99.3%, #5fb2a0 99.3%, #5fb2a0);
      background-image: -moz-linear-gradient(318.47360487073234deg, #196f90, #14648f 0.1%, #136b8b, #116b8a, #146a8b 0.7%, #237990 24.1%, #247b8f 24.1%, #287d91 30.1%, #297f90 30.1%, #489a9a 69.1%, #479c99 69.4%, #499e9b 72.6%, #4b9d9b 72.6%, #5fb0a1 99.3%, #5fb2a0 99.3%, #5fb2a0);
      background-image: -o-linear-gradient(318.47360487073234deg, #196f90, #14648f 0.1%, #136b8b, #116b8a, #146a8b 0.7%, #237990 24.1%, #247b8f 24.1%, #287d91 30.1%, #297f90 30.1%, #489a9a 69.1%, #479c99 69.4%, #499e9b 72.6%, #4b9d9b 72.6%, #5fb0a1 99.3%, #5fb2a0 99.3%, #5fb2a0);
      background-image: linear-gradient(131.52639512926766deg, #196f90, #14648f 0.1%, #136b8b, #116b8a, #146a8b 0.7%, #237990 24.1%, #247b8f 24.1%, #287d91 30.1%, #297f90 30.1%, #489a9a 69.1%, #479c99 69.4%, #499e9b 72.6%, #4b9d9b 72.6%, #5fb0a1 99.3%, #5fb2a0 99.3%, #5fb2a0);
      width: 100%;
      height: 50px;
      border-radius: 0 0 10px 10px;
      .btn {
          float: left;
          width: 50%;
          color: #fff;
          font-size: 19px;
          height: 50px;
          line-height: 40px;
          &:first-child {
            border-right: 1px solid rgba(255, 255, 255, 0.18);
          }
      }
  }
}
