<div class="contents" (click)="showRightPanel.isShown = false">
  <div class="bg-purple-gradient"></div>
  <div class="content-inner">
    <app-sd-employee-header-profile
      data-imgUrl="../assets/i/bench-users4.jpg"></app-sd-employee-header-profile>
    <app-sd-notification-offline [showRightPanel]="showRightPanel"></app-sd-notification-offline>
    
    <app-content-offices data-userRole="employee" [jsonFile]="jsonFile"></app-content-offices>
  </div>
  <!--end .bg-purple-gradient-->
</div>
<!-- end .contents -->
