.fadeIn {
    margin-top: 25px;
    font-size: 21px;
    text-align: center;
    display: block;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

    .title-area .sub-txt {
		font-size: 23px;
		color: #fff;
		line-height: 22px;
		text-align: left;
		padding: 30px 0; 
		font-weight: 300;
		letter-spacing: 1px;
	}  

     

	
	/* .welcome-contents */
    .welcome-contents {
		width: 423px;
		margin: 0 auto;
    }    
        /* .form  */
    	.form {
    		.inputs {
	    		padding: 0 60px;
	    		position: relative;
	    		.icons {
	    			position: absolute;
	    			top: 8px;
	    			left: 10px;
	    			width: 36px;
	    			height: 36px;
	    		}
	    		.icons.icon-user {
		    		width: 19px;
		    		height: 20px;
		    		background-position: -111px -135px;
		    		left: 20px;
		    		top: 14px;
		    		display: inline-block;
		    	}
		    	.icons.icon-email {
		    		width: 21px;
		    		height: 16px;
		    		background-position: -14px -137px;
		    		left: 16px;
		    		top: 17px;
		    		display: inline-block;
		    	}
		    	.icons.icon-locked {
		    		width: 22px;
		    		height: 26px;
		    		background-position: -157px -131px;
		    		left: 16px;
		    		top: 12px;
		    		display: inline-block;
		    	}
		    	.icons.icon-eye {
		    		width: 23px;
		    		height: 15px;
		    		background-position: -61px -138px;
		    		right: 16px;
		    		top: 17px;
		    		left: auto;
		    		display: inline-block;
		    	}
	    	}
	    	
	    	.btn-light-blue {
	    		display: block;
	    		font-size: 20px;
	    		margin: 30px 0 40px 0;
	    		opacity: 1;
	    	}
    	}
		.row-line {
    		margin-bottom: 20px;
    	}
    	/* .line-between */
    	.line-between {
    		color: #fff;
    		position: relative;
    		text-align: center;
    		font-size: 22px;
    		&:before {
	    		content: '';
	    		width: 120px;
	    		height: 1px;
	    		position: absolute;
	    		left: 0;
	    		top: 12px;
	    		background-color: #fff;
	    		display: block;
	    	}
	    	&:after {
	    		content: '';
	    		width: 120px;
	    		height: 1px;
	    		position: absolute;
	    		right: 0;
	    		top: 12px;
	    		background-color: #fff;
	    		display: block;
	    	}
    	}

    	/* .using */
    	.using {
    		margin-top: 40px;
    		.icon-link {
    			text-transform: uppercase;
    			display: inline-block;
    			margin: 0 20px;
    			color: #fff;
    			padding-left: 40px;
    			position: relative;
    			&.facebook:before {
    				content: '';
    				background: url(../../../assets/i/icon-sprites.png) no-repeat;
					background-position: -157px -85px;
					width: 25px;
					height: 25px;
    				position: absolute;
    				left: 0;
    				top: 2px;
    				background-size: 288px auto;
    			}
    			&.linkedin:before {
    				content: '';
    				background: url(../../../assets/i/icon-sprites.png) no-repeat;
					background-position: -108px -85px;
					width: 25px;
					height: 25px;
    				position: absolute;
    				left: 0;
    				top: 2px;
    				background-size: 288px auto;
    			}
    		}
    	}
    	/* .sign-here */
    	.sign-here {
    		color: #fff;
    		font-size: 22px;
    		margin-top: 40px;
    		font-weight: 300;
    		letter-spacing: 1px;
    		.blue-links {
    			color: #29abe2;
    			text-transform: uppercase;
    			font-weight: bold;
    			padding: 0 5px;
    		}
    	}
	
	/* .white-border */
	.white-border {
		border: 1px solid #fff;
		border-radius: 8px;
		width: 100%;
		height: 120px;
		text-align: center;
		display: flex;
		display: -ms-flexbox;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		&.selected {
		  background: rgba(255,255,255,0.2);
		  border-width: 2px;
		}
		.btn-friendly {
			display: block;
			width: 100%;
			.icon-friend {
				display: block;
				margin: 0 auto;
				width: 64px;
				height: 64px;
				&.icon-word {
					background-position: 0 -265px;
				}
				&.icon-google {
					background-position: -64px -265px;
				}
				&.icon-inst {
					background-position: -128px -265px;
				}
				&.icon-facebook {
					background-position: -128px -457px;
				}
				&.icon-twitter {
					background-position: 0 -329px;
				}
				&.icon-google-plus {
					background-position: -64px -329px;
				}
				&.icon-in {
					background-position: -128px -329px;
				}
				&.icon-other {
					background-position: 0 -393px;
				}
			}
		}
		.name {
			font-size: 16px;
			color: #fff;
			display: block;
			margin-top: 10px;
		}
	}
	/* .easy-search-list */
	.easy-search-list {
		width: 525px;
		margin: 0 auto;
		.row {
			margin-bottom: 10px;
		}
		.btn-boxs {
			text-align: left;
			.btn {
				width: 420px;
				margin-top: 20px;
				font-size: 20px;
			}
		}
	}
	/* .how-help */
	.how-help {
		width: 411px;
		margin: 0 auto;
		.choose-box {
			.gray-bar {
				height: 65px;
				margin-bottom: 13px;
				border-radius: 4px;
				background-color: rgba(51,51,51,0.45);
				color: #fff;
				line-height: 65px;
				padding: 0 20px;
			}
		}
		.btn-boxs {
			.btn {
				margin-top: 30px;
				font-size: 20px;
			}
			.w100 {
				width: 100%;
			}
		}
	}


	/* .radiobox-wrap */
	.radiobox-wrap {
		display: inline-block;
		input[type="radio"]{
			display: none;
		} 
		input[type="radio"]+label {
			display: inline-block;
			padding-left: 32px;
			text-align: left;
			position: relative;
			line-height: 26px;
			color: #fff;
			cursor: pointer;
			font-size: 19px;
		} 
		label::before {
			content: "";
			display: inline-block;
			width: 21px;
			height: 21px;
			vertical-align: middle;
			margin-right: 5px;
			border: 1px solid #fff;
			border-radius: 100%;
			position: absolute;
			left: 0;
			top: 7px;
		}
		input[type="radio"]:checked+label::before{
			background: url(../../../assets/i/icon-sprites.png) -7px -9px no-repeat;
			background-size: 288px auto;
			width: 21px;
			height: 22px;
			border: 0;
			border-radius: 100%;
		}
		.icons {
			margin-right: 11px;
		}
		/* .icon-business */
		.icon-business {
			background-position: -36px 0;
			width: 36px;
			height: 36px;
			vertical-align: middle;
		}
		.icon-employee {
			background-position: -72px 0;
			width: 36px;
			height: 36px;
			vertical-align: middle;
		}
	}


/* .modal-boxs */
.modal-boxs {
	.modal-title {
		width: 100%;
		padding: 24px 0;
		text-align: center;
		background-color: #456db3;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		.circle {
			display: block;
			width: 83px;
			height: 83px;
			border: 3px solid #fff;
			border-radius: 100%;
			text-align: center;
			background-color: #fff;
			margin: 0 auto;
			background-color: transparent;
			line-height: 83px;
		}
		.icon-i {
			background-position: -91px -403px;
			width: 11px;
			height: 45px;
			vertical-align: middle;
		}
	}
	.modal-info {
		background-color: #fff;
		padding-top: 20px;
		p {
			padding: 30px 0;
			font-size: 18px;
			font-weight: 300;
			line-height: 22px;
			color: #4d4d4d;
			padding: 0 53px;
			text-align: center;
		}
		.titles {
			text-align: center;
			font-weight: 600;
			font-size: 20px;
			color: #4d4d4d;
			margin-bottom: 20px;
		}
		.icon-bar {
			display: block;
			padding-bottom: 20px;
			min-height: 45px;
			padding-left: 20px;
			.icons {
				margin-right: 15px;
				width: 41px;
				height: 41px;
				vertical-align: middle;
			}
			.txt {
				display: inline-block;
				vertical-align: middle;
				font-size: 20px;
				color: #4d4d4d;
			}
			.icon-facebook {
				background-position: -202px -405px;
			}
			.icon-google-plus {
				background-position: -204px -341px;
			}
			.icon-in {
				background-position: -11px -472px;
			}
		}
	}
	.footer-btn {
		text-align: center;
		background-color: #fff;
		border-top: 0;
		padding: 5px 10px 27px 10px;
	}
} 