<div class="main-content">
  <div class="activity-content">
    <div class="head-activity">
      <a [routerLink]="['/' + userRole + '-main-menu']" class="back-icon"></a>
      <div class="activity-title">
        <span class="active-path-icon icons3"></span>
        <span class="head-act-title">Activity</span>
      </div>
    </div>
    <div class="user-activity-list">
      <div class="user-activity-detail">
        <div class="user-activity-box" *ngFor="let list of acivityList">
          <img [src]="list.imageUrl" alt="">
          <div class="user-activity-name">
            <p>{{list.name}}</p>
            <span>{{list.time}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--end .main-content-->