<div class="contents" (click)="pageParam.showRightPanel.isShown = false;pageParam.showProfilePopup = false;">
  <div class="section section-app-status clearfix">
  	<div class="blue-bg" [ngClass]="{'endorse-bg': pageParam.activeView==='endorse', 'subsc-bg': pageParam.activeView==='subscribe'}"></div>

    <app-sd-employer-header-profile
      [className]="'blue-active-bg'"
      data-imgUrl="../assets/i/build-img.jpg"></app-sd-employer-header-profile>
    <app-sd-notification-offline [showRightPanel]="pageParam.showRightPanel" 
      [onlinePanel]="!(pageParam.activeView==='endorse') && !(pageParam.activeView==='subscribe')">
    </app-sd-notification-offline>
    
    <app-sd-content-profiles 
      data-userRole="employer" 
      [jsonFile]="jsonFile"
      [pageParam]="pageParam">
    </app-sd-content-profiles>
  </div>
</div>
<!-- end .contents -->
