<div class="main-content">
  <div class="office-content">
    <div class="list-grid-search">
      <div class="title-header">
        <a [routerLink]="['/' + userRole + '-main-menu']" class="back-icon"></a>
        <span class="title">Offices</span>
        <div class="view-icons">
          <a href="javascript:;" class="list-icon" (click)="gridView=true" *ngIf="!gridView">
            <span></span>
            <span></span>
            <span></span>
          </a>
          <a href="javascript:;" class="grid-icon icons3"  *ngIf="gridView" (click)="gridView=false" >
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </a>
        </div>
      </div>
      <input type="search" placeholder="Search..." class="office-search-input">
    </div>
    <div class="list-grid-box" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
      <app-office-grid-view *ngIf="gridView" [data]="officeList"></app-office-grid-view>
      <app-office-list-view *ngIf="!gridView" [data]="officeList"></app-office-list-view>
    </div>
  </div>
</div>
<!--end .main-content-->