<div class="contents" (click)="showRightPanel.isShown = false">
  <div class="bg-purple-gradient"></div>
  <div class="content-inner">
    <app-sd-header-profile
      [menus]="headerMenus"
      data-imgUrl="../assets/i/build-img.jpg"></app-sd-header-profile>
      <div class="main-content">
        <div class="office-content">
          <div class="list-grid-search">
            <div class="title-header">
              <a [routerLink]="['/main-menu']" class="back-icon"></a>
              <span class="title">Offices</span>
              <div class="view-icons">
                <a href="javascript:;" class="list-icon" (click)="gridView=true" *ngIf="!gridView">
                  <span></span>
                  <span></span>
                  <span></span>
                </a>
                <a href="javascript:;" class="grid-icon icons3"  *ngIf="gridView" (click)="gridView=false" ></a>
              </div>
            </div>
            <input type="search" placeholder="Search..." class="office-search-input">
          </div>
          <div class="list-grid-box">
            <app-office-grid-view *ngIf="gridView" [data]="officeList"></app-office-grid-view>
            <app-office-list-view *ngIf="!gridView" [data]="officeList"></app-office-list-view>
          </div>
        </div>
      </div>
      <!--end .main-content-->

    <app-sd-notification-offline [showRightPanel]="showRightPanel"></app-sd-notification-offline>
  </div>
  <!--end .bg-purple-gradient-->
</div>
<!-- end .contents -->
