<div class="contents" (click)="showRightPanel.isShown = false;showProfilePopup = false;">
  <div class="section section-app-status clearfix">
  	<div class="blue-bg" [ngClass]="{'endorse-bg': activeView==='endorse', 'subsc-bg': activeView==='subscribe'}"></div>

    <app-sd-header-profile
      [menus]="headerMenus"
      [className]="'blue-active-bg'"
      data-imgUrl="../assets/i/build-img.jpg"></app-sd-header-profile>

    <div class="profile-contents" *ngIf="!activeView">
      <div class="left-nav">
      	<ul>
      	  <li [ngClass]="{'current': tabIndex === 0}">
      	    <a href="javascript:;" class="nav-item" (click)="tabIndex = 0">
      	      Friends
      	    </a>
      	  </li>
      	  <li [ngClass]="{'current': tabIndex === 1}">
      	    <a href="javascript:;" class="nav-item" (click)="tabIndex = 1">
      	      Opportunities
      	    </a>
      	  </li>
      	</ul>
      </div>
      <!-- end .left-nav -->
      <div class="center-banner" [ngClass]="{'hide': tabIndex !== 0}">
      	<div class="sroll-boxs">
      	  <a href="javascript:;" class="btn-choose btn-prev"
      	     (click)="prevCard(carListFriends)">
      	    <i class="icons icon-prev"></i>
      	  </a>
      	  <div class="card-list">
      	  	<div class="card-item {{'order-' + (carListFriends.length - i - 1)}}"
      	  	  [ngClass]="{'fadeIn': i === (carListFriends.length - 1)}"
      	  	  *ngFor="let item of carListFriends;let i = index">
	      	  	<div class="img-boxs">
	      	  	  <img src="{{item.imgUrl}}" alt="photo">
	      	  	</div>
	      	  	<div class="info-boxs">
	      	  	  <div class="name">
	      	  	  	{{item.title}}<i class="icons icon-blue"></i>
	      	  	  </div>
	      	  	  <div class="gray-txt">
	      	  	  	{{item.smallTitle}}
	      	  	  	<span class="right-txt">
	      	  	  	  {{item.exp}}
	      	  	  	  <span class="grey-txt">Exp</span>
	      	  	  	</span>
	      	  	  </div>
	      	  	  <!-- end .gray-txt -->
	      	  	  <div class="line"></div>
				        <div class="card-bottom">
				  	      <div class="rights">
				  	        <div class="photo-list">
				  	  	      <div class="item" *ngFor="let photoItem of item.photoList">
				  	  	        <img src="{{photoItem.imgUrl}}" alt="photo">
				  	  	      </div>
				  	  	      <div class="item">
				  	  	        <div class="blue-circle">
				  	  	  	      +{{item.number}}
				  	  	        </div>
				  	  	      </div>
				  	        </div>
				  	      </div>
				  	      <div class="lefts">
				  	        <div class="grey-txt">{{item.direction}}</div>
				  	        <div class="bold-txt">{{item.location}}</div>
				  	      </div>
				        </div>
	      	  	</div>
	      	  </div>
	      	  <!-- end .card-item -->
      	  </div>
      	  <!-- end .card-list -->
      	  <a href="javascript:;" class="btn-choose btn-next"
      	     (click)="nextCard(carListFriends)">
      	    <i class="icons icon-next"></i>
      	  </a>
      	</div>

      	<div class="tool-list">
      		<a href="javascript:;" class="btn btn-circle white"
      		  (click) ="showProfilePopup = !showProfilePopup;$event.stopPropagation();">
      		  <i class="icons icon-three"></i>
      		</a>
      		<a href="javascript:;" class="btn btn-circle pink">
      		  <i class="icons icon-clock"></i>
      		</a>
      		<div class="like-boxs"
      		  [ngClass]="{'current': showProfilePopup}">
      			<a href="javascript:;" class="btn btn-circle blue">
	      		  <i class="icons icon-like"></i>
	      		</a>
	      		<div class="two-btn">
		      	  <a href="javascript:;" class="btn btn-share-blue"
		      	     (click) ="showProfilePopup = false">Share Profile</a>
		      	  <a href="javascript:;" class="btn btn-request-pink"
		      	     (click) ="showProfilePopup = false">Request Endorsement</a>
		      	</div>
      		</div>

      		<a href="javascript:;" class="btn btn-circle white">
      		  <i class="icons icon-close"></i>
      		</a>
      	</div>
      </div>
      <!-- end .center-banner -->
      <div class="center-banner oppur-banner" [ngClass]="{'hide': tabIndex !== 1}">
        <div class="sroll-boxs">
      	  <a href="javascript:;" class="btn-choose btn-prev"
      	     (click)="prevCard(carListOpportunities)">
      	    <i class="icons icon-prev"></i>
      	  </a>
      	  <div class="card-list">
      	  	<div class="card-item {{'order-' + (carListOpportunities.length - i - 1)}}"
      	  	  [ngClass]="{'fadeIn': i === (carListOpportunities.length - 1)}"
      	  	  *ngFor="let item of carListOpportunities;let i = index">
	      	  	<div class="img-boxs">
	      	  	  <img src="{{item.imgUrl}}" alt="photo">
	      	  	</div>
	      	  	<div class="info-boxs">
	      	  	  <div class="name">
	      	  	  	{{item.title}}<i class="icons icon-blue"></i>
	      	  	  </div>
	      	  	  <div class="gray-txt">
	      	  	  	{{item.smallTitle}}
	      	  	  	<span class="right-txt">
	      	  	  	  {{item.exp}}
	      	  	  	  <span class="grey-txt">Employees</span>
	      	  	  	</span>
                  <div class="right-star">
                    <ul>
                      <li *ngIf="item.stars > 0"><i class="icons-star"></i></li>
                      <li *ngIf="item.stars > 1"><i class="icons-star"></i></li>
                      <li *ngIf="item.stars > 2"><i class="icons-star"></i></li>
                      <li *ngIf="item.stars > 3"><i class="icons-star"></i></li>
                      <li *ngIf="item.stars > 4"><i class="icons-star"></i></li>
                    </ul>
                  </div>
	      	  	  </div>
	      	  	  <!-- end .gray-txt -->
	      	  	  <div class="line"></div>
				        <div class="card-bottom">
				  	      <div class="rights">
				  	        <div class="photo-list">
				  	  	      <div class="item" *ngFor="let photoItem of item.photoList">
				  	  	        <img src="{{photoItem.imgUrl}}" alt="photo">
				  	  	      </div>
				  	  	      <div class="item">
				  	  	        <div class="blue-circle">
				  	  	  	      +{{item.number}}
				  	  	        </div>
				  	  	      </div>
				  	        </div>
				  	      </div>
				  	      <div class="lefts">
				  	        <div class="grey-txt">{{item.direction}}</div>
				  	        <div class="bold-txt">{{item.location}}</div>
				  	      </div>
				        </div>
	      	  	</div>
	      	  </div>
	      	  <!-- end .card-item -->
      	  </div>
      	  <!-- end .card-list -->
      	  <a href="javascript:;" class="btn-choose btn-next"
      	     (click)="nextCard(carListOpportunities)">
      	    <i class="icons icon-next"></i>
      	  </a>
      	</div>

      	<div class="tool-list">
      		<a href="javascript:;" class="btn btn-circle white"
      		  (click) ="showProfilePopup = !showProfilePopup;$event.stopPropagation();">
      		  <i class="icons icon-three"></i>
      		</a>
      		<a href="javascript:;" class="btn btn-circle pink">
      		  <i class="icons icon-clock"></i>
      		</a>
      		<div class="like-boxs"
      		  [ngClass]="{'current': showProfilePopup}">
      			<a href="javascript:;" class="btn btn-circle blue">
	      		  <i class="icons icon-like"></i>
	      		</a>
	      		<div class="two-btn">
		      	  <a href="javascript:;" class="btn btn-share-blue"
		      	     (click) ="showProfilePopup = false">Share Profile</a>
		      	  <a href="javascript:;" class="btn btn-request-pink"
		      	     (click) ="showProfilePopup = false">Request Endorsement</a>
		      	</div>
      		</div>

      		<a href="javascript:;" class="btn btn-circle white">
      		  <i class="icons icon-close"></i>
      		</a>
      	</div>
      </div>
      <!-- end .center-banner -->
    </div>
    <!-- end .profile-contents -->
    <app-select-subscription
      *ngIf="activeView==='subscribe'" [data]="subscribeData"
      (backToEdit)="openModal(profileEditModal); activeView=''"
    ></app-select-subscription>
    <app-endoresments
      *ngIf="activeView==='endorse'" [data]="endorseData"
      (backToEdit)="openModal(profileEditModal); activeView=''"
    >
    </app-endoresments>
    <app-sd-notification-offline [showRightPanel]="showRightPanel" [onlinePanel]="!subscribeData && !endorseData"></app-sd-notification-offline>
  </div>

  <div class="info-sticky-icons" *ngIf="editable && !subscribeData && !endorseData">
    <div class="icons-wrapper">
      <a href="javascript:;" class="btn btn-circle blue">
        <i class="icons icon-like"></i>
      </a>
      <a href="javascript:;" class="btn btn-circle pink">
        <i class="icons icon-clock"></i>
      </a>
      <a href="javascript:;" class="btn btn-circle white">
        <i class="icons icon-three"></i>
      </a>
    </div>
  </div>
  <!-- Sticky icon -->
  <ng-template #profileEditModal let-c="close">
    <div class="modal-boxs profile-edit-modal">
      <a [routerLink]="['/main-menu']" class="back-btn">
        <span class="back-icon"></span>BACK
      </a>  
      <div class="modal-inner">
        <app-edit-profile
          (onSubscribe)="onSubscribe($event)"
          (onEndorsement)="onEndorsement($event)"
          (onClose)="editable=null"
        >
      </app-edit-profile>
      </div>
    </div>
  </ng-template>
  <!-- end .Email success modal -->
</div>
<!-- end .contents -->
